@model Player

@{
    ViewData["Title"] = "About";
}

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
           ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            SurName
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
